---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Germania+One|Indie+Flower');
img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 0px transparent #ebebeb;
  border-width: 0px;

  box-shadow: 0 0 0px #ebebeb;
  -webkit-box-shadow: 0 0 0px #ebebeb;
  -moz-box-shadow: 0 0 0px #ebebeb;
  -o-box-shadow: 0 0 0px #ebebeb;
  -ms-box-shadow: 0 0 0px #ebebeb;
}

div.smallcenter {
  text-align: center;
  font-size: 65%;
  color: #FFFFFF
}

h1.mitgliedname {
  text-align: center;
  margin: 10px 0;
  font-family: 'Indie Flower', cursive;
  font-weight: 700;
  color: #23272A;
  letter-spacing: -1px;
  font-size: 36px;
  font-weight: 700;
}

.error_table {
  width: 100%;
  vertical-align: center;
  box-shadow: 3px -3px 5px black;
  text-align: center;
}

.error_table tr {
}

.error_table td {
  background-color: #F78181;
}
